In [1]:
pip list

Package                   Version
------------------------- --------------
anyio                     4.4.0
argon2-cffi               23.1.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
astroid                   3.2.4
asttokens                 2.4.1
async-lru                 2.0.4
attrs                     24.2.0
autopep8                  2.3.1
babel                     2.16.0
bandit                    1.7.9
beautifulsoup4            4.12.3
bleach                    6.1.0
certifi                   2024.8.30
cffi                      1.17.1
charset-normalizer        3.3.2
comm                      0.2.2
cryptography              43.0.1
debugpy                   1.8.5
decorator                 5.1.1
defusedxml                0.7.1
dill                      0.3.8
distlib                   0.3.8
docutils                  0.21.2
executing                 2.1.0
fastjsonschema            2.20.0
filelock                  3.16.0
flake8                    7.1.1
fqdn                      1.5.1
h11                       0.14.0
httpcore                  1.0.5
httpx                     0.27.2
idna                      3.8
importlib_metadata        8.4.0
ipykernel                 6.29.5
ipython                   8.27.0
isoduration               20.11.0
isort                     5.13.2
jaraco.classes            3.4.0
jaraco.context            6.0.1
jaraco.functools          4.0.2
jedi                      0.19.1
jeepney                   0.8.0
Jinja2                    3.1.4
json5                     0.9.25
jsonpointer               3.0.0
jsonschema                4.23.0
jsonschema-specifications 2023.12.1
jupyter_client            8.6.2
jupyter_core              5.7.2
jupyter-events            0.10.0
jupyter-lsp               2.2.5
jupyter_server            2.14.2
jupyter_server_terminals  0.5.3
jupyterlab                4.2.5
jupyterlab_pygments       0.3.0
jupyterlab_server         2.27.3
keyring                   25.3.0
markdown-it-py            3.0.0
MarkupSafe                2.1.5
matplotlib-inline         0.1.7
mccabe                    0.7.0
mdurl                     0.1.2
mistune                   3.0.2
more-itertools            10.5.0
mypy                      1.11.2
mypy-extensions           1.0.0
nbclient                  0.10.0
nbconvert                 7.16.4
nbformat                  5.10.4
nest-asyncio              1.6.0
nh3                       0.2.18
notebook                  7.2.2
notebook_shim             0.2.4
overrides                 7.7.0
packaging                 24.1
pandocfilters             1.5.1
parso                     0.8.4
pbr                       6.1.0
pep8                      1.7.1
pexpect                   4.9.0
pip                       24.2
pipenv                    2024.0.1
pkginfo                   1.10.0
platformdirs              4.3.2
prometheus_client         0.20.0
prompt_toolkit            3.0.47
psutil                    6.0.0
ptyprocess                0.7.0
pure_eval                 0.2.3
pycodestyle               2.12.1
pycparser                 2.22
pydocstyle                6.3.0
pyflakes                  3.2.0
Pygments                  2.18.0
pylama                    8.4.1
pylint                    3.2.7
python-dateutil           2.9.0.post0
python-json-logger        2.0.7
pytoolconfig              1.3.1
PyYAML                    6.0.2
pyzmq                     26.2.0
readme_renderer           44.0
referencing               0.35.1
requests                  2.32.3
requests-toolbelt         1.0.0
rfc3339-validator         0.1.4
rfc3986                   2.0.0
rfc3986-validator         0.1.1
rich                      13.8.0
rope                      1.13.0
rpds-py                   0.20.0
SecretStorage             3.3.3
Send2Trash                1.8.3
setuptools                74.1.2
six                       1.16.0
sniffio                   1.3.1
snowballstemmer           2.2.0
soupsieve                 2.6
stack-data                0.6.3
stevedore                 5.3.0
terminado                 0.18.1
tinycss2                  1.3.0
tomlkit                   0.13.2
tornado                   6.4.1
traitlets                 5.14.3
twine                     5.1.1
types-python-dateutil     2.9.0.20240906
typing_extensions         4.12.2
uri-template              1.3.0
urllib3                   2.2.2
virtualenv                20.26.4
wcwidth                   0.2.13
webcolors                 24.8.0
webencodings              0.5.1
websocket-client          1.8.0
wheel                     0.44.0
zipp                      3.20.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Using cached numpy-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

markers=pd.read_csv("/workspace/Pyspark_projects/Challenge/datesets/electric_vehicle_sales_by_makers.csv")
date=pd.read_csv("/workspace/Pyspark_projects/Challenge/datesets/dim_date.csv")
markers_date= markers.merge(date,how="inner",on="date")
markers_date

,date,vehicle_category,maker,electric_vehicles_sold,fiscal_year,quarter
0,01-Apr-21,2-Wheelers,OLA ELECTRIC,0,2022,Q1
1,01-Apr-22,2-Wheelers,OKAYA EV,0,2023,Q1
2,01-May-21,2-Wheelers,OLA ELECTRIC,0,2022,Q1
3,01-Jun-21,2-Wheelers,OLA ELECTRIC,0,2022,Q1
4,01-Jul-21,2-Wheelers,OLA ELECTRIC,0,2022,Q2
...,...,...,...,...,...,...
811,01-Mar-24,2-Wheelers,BGAUSS,3070,2024,Q4
812,01-Mar-24,2-Wheelers,BATTRE ELECTRIC,625,2024,Q4
813,01-Mar-24,2-Wheelers,KINETIC GREEN,3915,2024,Q4
814,01-Mar-24,2-Wheelers,REVOLT,585,2024,Q4
815,01-Mar-24,2-Wheelers,OTHERS,10579,2024,Q4

In [38]:
state=pd.read_csv("/workspace/Pyspark_projects/Challenge/datesets/electric_vehicle_sales_by_state.csv")

In [32]:
state_date.unique()

array(['Sikkim', 'Andaman & Nicobar Island', 'Arunachal Pradesh', 'Assam',
       'Chhattisgarh', 'DNH and DD', 'Jammu and Kashmir', 'Ladakh',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Puducherry',
       'Tripura', 'Bihar', 'Chandigarh', 'Delhi', 'Madhya Pradesh',
       'Odisha', 'Punjab', 'Uttarakhand', 'Himachal Pradesh', 'Haryana',
       'Jharkhand', 'Andhra Pradesh', 'Goa', 'Gujarat', 'Karnataka',
       'Kerala', 'Maharashtra', 'Rajasthan', 'Tamil Nadu',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [41]:
states=state.replace("Andaman & Nicobar","Andaman & Nicobar Island")

In [42]:
state_date=states.merge(date,how="inner",on="date")
state_date

,date,state,vehicle_category,electric_vehicles_sold,total_vehicles_sold,fiscal_year,quarter
0,01-Apr-21,Sikkim,2-Wheelers,0,398,2022,Q1
1,01-Apr-21,Sikkim,4-Wheelers,0,361,2022,Q1
2,01-May-21,Sikkim,2-Wheelers,0,113,2022,Q1
3,01-May-21,Sikkim,4-Wheelers,0,98,2022,Q1
4,01-Jun-21,Sikkim,2-Wheelers,0,229,2022,Q1
...,...,...,...,...,...,...,...
2440,01-Mar-24,Mizoram,2-Wheelers,58,1932,2024,Q4
2441,01-Mar-24,DNH and DD,2-Wheelers,25,780,2024,Q4
2442,01-Mar-24,Manipur,2-Wheelers,13,1394,2024,Q4
2443,01-Mar-24,Andaman & Nicobar Island,2-Wheelers,2,447,2024,Q4
2444,01-Mar-24,Nagaland,2-Wheelers,2,1180,2024,Q4

# 1. List the top 3 and bottom 3 makers for the fiscal years 2023 and 2024 in 
terms of the number of 2-wheelers sold.

Identify the top 5 states with the highest penetration rate in 2-wheeler
and 4-wheeler EV sales in FY 2024.

In [52]:
two_wheeler = (state_date[state_date["vehicle_category"]=="2-Wheelers"]) 
two_whe_24=two_wheeler[two_wheeler["fiscal_year"]==2024]
total = two_whe_24.groupby("state")[["electric_vehicles_sold", "total_vehicles_sold"]].sum()
total["penetration"] = total["electric_vehicles_sold"]/total["total_vehicles_sold"]*100
total.sort_values("penetration",ascending=False).head(5)

             electric_vehicles_sold  total_vehicles_sold  penetration
state
Goa                            9768                54290    17.992264
Kerala                        64769               478887    13.524903
Karnataka                    148111              1279767    11.573279
Maharashtra                  183052              1817343    10.072507
Delhi                         38094               405218     9.400866

In [53]:
two_wheeler = (state_date[state_date["vehicle_category"]=="4-Wheelers"]) 
two_whe_24=two_wheeler[two_wheeler["fiscal_year"]==2024]
total = two_whe_24.groupby("state")[["electric_vehicles_sold", "total_vehicles_sold"]].sum()
total["penetration"] = total["electric_vehicles_sold"]/total["total_vehicles_sold"]*100
total.sort_values("penetration",ascending=False).head(5)

            electric_vehicles_sold  total_vehicles_sold  penetration
state
Kerala                        9169               159227     5.758445
Chandigarh                    1020                22651     4.503112
Delhi                         8630               201130     4.290757
Karnataka                    12878               302221     4.261120
Goa                           1031                24234     4.254353

In [12]:
markers_date[markers_date["fiscal_year"]in [2024,2023]]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().